<link rel="manifest" href="{{url_for('delivery_tracking.static', filename='manifest.json')}}">
<meta name="theme-color" content="#317EFB"/>
{% extends "base.html" %}
{% block content %}
{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('normal', '택배사 설정', true) }}
      {{ macros.m_tab_head('alarm', '알람 설정', false) }}
      {{ macros.m_tab_head('auto', '자동', false) }}
      {{ macros.m_tab_head('db', 'DB', false) }}
    {{ macros.m_tab_head_end() }}
</nav>

<form id='setting', name="setting">
    <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
        {% for site in site_map %}
            {{ macros.setting_checkbox('use_site_'+site, site_map[site] , desc=None, value=arg['use_site_'+site]) }}
            <div id="div_setting_{{site}}" style="display: none; margin-left:10%;">

    
            </div>
        {% endfor %}

       
    {{ macros.m_tab_content_end() }} 
    {{ macros.m_tab_content_start('alarm', false) }} 
    {{ macros.setting_checkbox('use_delivery_tracking', '전체 알람 사용', desc='메시지 ID : bot_delivery_tracking', value=arg['use_delivery_tracking']) }}





    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('auto', false) }}
        {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
        {{ macros.setting_input_text('basic_interval', '스케쥴링 실행 정보', value=arg['basic_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
        {{ macros.setting_checkbox('basic_auto_start', '시작시 자동실행', value=arg['basic_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('db', false) }}
      {{ macros.setting_input_text_and_buttons('basic_db_delete_day', 'DB 삭제 기간', [['globalDbDeleteDayBtn', '기간 적용 삭제', [['tag_id','basic_db_delete_day']]], ['globalDbDeleteBtn', '전체 삭제']], value=arg['basic_db_delete_day'], col='6') }} 
      {{ macros.setting_checkbox('basic_db_auto_delete', 'DB 자동 삭제', value=arg['basic_db_auto_delete'], desc=['On : 기간 적용하여 DB를 자동 삭제합니다.']) }}
    {{ macros.m_tab_content_end() }} 
  </div>
</form>

<script type="text/javascript">
    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/\-/g, '+')
            .replace(/_/g, '/')  ;
        const rawData = window.atob(base64);
        return Uint8Array.from([...rawData].map((char) => char.charCodeAt(0)));
    }
    async function registerServiceWorker() {
        return await navigator.serviceWorker
            .register('{{ url_for("delivery_tracking.static", filename="service-worker.js") }}')
            .then(function (registration) {
            console.log('Service worker successfully registered.');
            return registration;
            // return registration.pushManager.subscribe({
            //     userVisibleOnly: true,
            //     applicationServerKey: server_key
            // }).then(subs=>{
            //     console.log(subs);
            // });
            // })
            // .catch(function (err) {
            // console.error('Unable to register service worker.', err);
            });
    }


$(document).ready(function(){
    {% for site_name in site_map %}
        $(`#use_site_{{site_name}}`).off('change').on('change',(evt)=>{
        if ($(evt.currentTarget).prop('checked') === true) {
            $(`#div_setting_{{site_name}}`).css('display', 'block');
        }else {
            $(`#div_setting_{{site_name}}`).css('display', 'none');
        }
        });
        $(`#use_site_{{site_name}}`).change();
    {% endfor %}
    $('#use_hotdeal_keyword_alarm').change(evt => {
        if ($(evt.currentTarget).prop('checked') === true) {
            $('#use_delivery_tracking').prop('checked', false);
            $('#use_delivery_tracking').change();
        }
    });
    $('#use_delivery_tracking').change(evt=>{
        if ($(evt.currentTarget).prop('checked') === true) {
            $('#use_hotdeal_keyword_alarm').prop('checked', false);
            $('#use_hotdeal_keyword_alarm').change();

        }

    });
    $('#use_hotdeal_web_push').change(evt=>{
        if($('#use_hotdeal_web_push').prop('checked') === true) {
        $('#btnWebPushInit').css('display', 'block');
        $('#btnAllowWebPushThisDevice').css('display', 'block');
        } else {
            $('#btnWebPushInit').css('display', 'none');
            $('#btnAllowWebPushThisDevice').css('display', 'none');
        }
    });
    
   
    
});

</script>
{% endblock %}